
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="/resources/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resources/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/resources/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/resources/images/favicon/site.webmanifest" />
    <meta charset="UTF-8">
    <title>Weather Viewer - Error</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div class="container text-center mt-5">
    <h1 class="display-4">Oops! Something Went Wrong</h1>
    <p class="lead" th:text="${message}">We're sorry, but an unexpected error has occurred. Please try again later.</p>
    <a class="btn btn-primary" th:href="@{/weather/users/index}">Go to Home</a>
</div>

</body>
</html>
