<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/png" href="/resources/images/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/resources/images/favicon/favicon.svg" />
    <link rel="shortcut icon" href="/resources/images/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/resources/images/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="MyWebSite" />
    <link rel="manifest" href="/resources/images/favicon/site.webmanifest" />
    <meta charset="UTF-8">
    <title>Weather Viewer – Sign In</title>
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
</head>
<body>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>

    <h2 class="text-center mb-5">Sign In</h2>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12"><!--"@{/users/{id}(id=${weatherUser.getId()})}"-->
            <form method="POST" th:object="${userDto}" th:action="@{/weather/users/login}" class="mt-4">
                <div class="mb-3">
                    <label th:for="login" class="form-label">Username</label>
                    <input type="text" class="form-control" th:field="*{login}" minlength="2" maxlength="20" required/>
                </div>
                <div class="mb-3">
                    <label th:for="password" class="form-label">Password</label>
                    <input type="password" class="form-control" th:field="*{password}" minlength="8" maxlength="64"
                           required/>

                    <input type="hidden" name="redirect_to" value="/weather/users/index"/>

                    <button type="submit" class="btn btn-primary w-100 mt-3">Sign In</button>
                    <p class="mt-2 text-center">Don't have an account?
                        <a th:href="@{/weather/users/sign-up}">Sign up here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>

</body>
</html>