<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/head :: head('Weather Viewer – Sign In')}"></head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-6">
            <div class="weather-logo"></div>
        </div>
    </div>
    <h2 class="text-center mb-5">
        Sign In
    </h2>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-4 col-md-6 col-sm-12"><!--"@{/users/{id}(id=${weatherUser.getId()})}"-->
            <form class="mt-4"
                  method="POST"
                  th:action="@{/users/login}"
                  th:object="${userDto}">
                <div class="mb-3">
                    <label class="form-label"
                           th:for="login">
                        Username
                    </label>
                    <input class="form-control"
                           maxlength="20"
                           minlength="2"
                           required
                           th:field="*{login}"
                           type="text"/>
                </div>
                <div class="mb-3">
                    <label class="form-label"
                           th:for="password">
                        Password
                    </label>
                    <input class="form-control"
                           minlength="8"
                           maxlength="64"
                           required
                           th:field="*{password}"
                           type="password"/>
                    <input name="redirect_to"
                           type="hidden"
                           value="/users/index"/>
                    <button class="btn btn-primary w-100 mt-3"
                            type="submit">
                        Sign In
                    </button>
                    <p class="mt-2 text-center">Don't have an account?
                        <a th:href="@{/users/sign-up}">Sign up here</a>
                    </p>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>