<head th:fragment="head(title)">
    <link href="/resources/images/favicon/favicon-96x96.png" rel="icon" sizes="96x96" type="image/png"/>
    <link href="/resources/images/favicon/favicon.svg" rel="icon" type="image/svg+xml"/>
    <link href="/resources/images/favicon/favicon.ico" rel="shortcut icon"/>
    <link href="/resources/images/favicon/apple-touch-icon.png" rel="apple-touch-icon" sizes="180x180"/>
    <meta content="MyWebSite" name="apple-mobile-web-app-title"/>
    <link href="/resources/images/favicon/site.webmanifest" rel="manifest"/>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/resources/css/style.css}">
    <title th:text="${title}">title</title>
</head>
